.offer div img{
    width: 130px;
    border-radius: 10px;
    transition: width 0.2s;
}

.offer{
   width: 96%;
   margin: 0 auto;
   text-align: center;
   padding: 5px 25px;
   margin-right: 60px;
   gap: 20px;
   background-color: rgb(224, 214, 214);
   margin-top: 40px;
   border-radius: 5px;
   
}
.offer div img:hover{
    width: 135px;
}