.rows{
    width: 96%;
    /* background-color: aqua; */
    /* padding: 0 30px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 20px;
}
.rows img{
   width: 90%;
   
}
.rows img:hover{
    width: 95%;
    transition: all 0.2s;
    
 }